@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #341645;
    border-radius: 10px;
    border: 2px solid #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c9a84c;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}
