@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORZAR LA BARRA PARA EVITAR EL SALTO (LAYOUT SHIFT) QUE CAUSA EL TEMBLOR */
html {
    overflow-y: scroll;
}

/* DISEÑO CORPORATIVO PARA LA BARRA DE DESPLAZAMIENTO (SCROLLBAR) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0055af;
    border-radius: 10px;
    border: 2px solid #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffdd1c;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}